.card-wrapper {
    height: 100%;
    min-height: 250px;
    .add-new {
        background-color: #f1f1f1;
        box-shadow: 1px 1px 10px #ccc;
        border-radius: 20px;
        height: 100%;
        position: relative;
        text-align: center;
        padding: 20px 0;
        .icon-wrapper {
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            .icon {
                width: auto;
                height: auto;
                font-size: 50px;
            }
        }
    }
}