:root 
{
--mainColor : #3b9a9c;
--secondaryColor: #F5F7FA;

--fontColor: #333;
--fontColorReverse: #f1f1f1;
--linkColor: #50C1E9;

--fontBody: 'Open Sans', sans-serif;
--fontHeaders: 'Roboto', sans-serif;
}