.card-wrapper {
    background-color: #c8e4e4;
    box-shadow: 1px 1px 10px #ccc;
    border-radius: 20px;
    overflow: hidden;
    height: 100%;
    .img-wrapper {
        margin: 10px;
        border: 2px solid var(--mainColor);
        border-radius: 50%;
        overflow: hidden;
        cursor: pointer;
        img {
            width: 100%;
            transition: all 2s ease;
        }
        &:hover {
            img {
                transform: scale(2);
            }
        }
    }
    .content-wrapper {
        padding: 10px;
        .title {
            margin-bottom: 10px;
        }
    }
    .view {
        color: var(--mainColor);
    }
    
}