    <div class="card-wrapper"  *ngIf="user">
        <a [routerLink]="[user.id]">
            <div class="img-wrapper">
                <img class="img-fluid" *ngIf="!isImgLoaded" src="assets/images/default-avatar.png" >
                <img class="img-fluid" [hidden]="!isImgLoaded" [src]="user.avatar || 'assets/images/default-avatar.png'" (load)="isImgLoaded = true" >
            </div>
        </a>
        <div class="content-wrapper">
            <div class="title">
                {{user.name}}
            </div>
            <div class="actions-wrapper d-flex  justify-content-between">
                <a class="view" [routerLink]="[user.id]"><mat-icon>open_in_browser</mat-icon></a>
                <a class="delete-alert" (click)="deleteUser()"> <mat-icon>delete</mat-icon></a>
            </div>
        </div>
    </div>